@page
@model PFRLabelIssuing.Pages.MasterMaint.MM_COMPANY_DtlModel
@{
    ViewData["PageTitle"] = Model.PageTitle;
}
<partial name="_Title" />
<partial name="_Error" />

@if (Model.Action == BasePageModel.EnumAction.View || Model.Action == BasePageModel.EnumAction.Delete)
{
    <table class="detailinfo">
        <tr>
            <td style="width:180px;">Company Code</td>
            <td> : </td>
            <td>@Model.DisplayCompanyCode</td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td> : </td>
            <td>@Model.DisplayCompanyName</td>
        </tr>
        <tr>
            <td>Address</td>
            <td> : </td>
            <td>@Model.DisplayAddress</td>
        </tr>
        <tr>
            <td>Telephone</td>
            <td> : </td>
            <td>@Model.DisplayTelephone</td>
        </tr>
        <tr>
            <td>Email</td>
            <td> : </td>
            <td>@Model.DisplayEmail</td>
        </tr>
        <tr>
            <td>Slit Code</td>
            <td> : </td>
            <td>@Model.DisplaySlitCode</td>
        </tr>
        <tr>
            <td>Created By</td>
            <td> : </td>
            <td>@Model.CreatedBy</td>
        </tr>
        <tr>
            <td>Created Date</td>
            <td> : </td>
            <td>@(Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")</td>
        </tr>
        <tr>
            <td>Updated By</td>
            <td> : </td>
            <td>@Model.UpdatedBy</td>
        </tr>
        <tr>
            <td>Updated Date</td>
            <td> : </td>
            <td>@(Model.UpdatedDate.HasValue ? Model.UpdatedDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")</td>
        </tr>
    </table>
}

@if (Model.Action == BasePageModel.EnumAction.Add || Model.Action == BasePageModel.EnumAction.Edit)
{
    <form method="post">
        <table class="detailinfo">
            <tr>
                <td><span class="text-danger">*</span></td>
                <td style="width:180px;">Company Code</td>
                <td> : </td>
                <td>
                    @if (Model.Action == BasePageModel.EnumAction.Edit)
                    {
                        <span>@Model.CompCode</span>
                        <input type="hidden" asp-for="CompCode" />
                    }
                    else
                    {
                        <input type="text" asp-for="CompCode" style="width:200px;" />
                    }
                    <span asp-validation-for="CompCode" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><span class="text-danger">*</span></td>
                <td>Company Name</td>
                <td> : </td>
                <td>
                    <input type="text" asp-for="CompName" style="width:300px;" />
                    <span asp-validation-for="CompName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><span class="text-danger">*</span></td>
                <td>Address</td>
                <td> : </td>
                <td>
                    <textarea asp-for="Address" rows="3" style="width:300px;"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><span class="text-danger">*</span></td>
                <td>Telephone</td>
                <td> : </td>
                <td>
                    <input type="text" asp-for="Telephone" style="width:200px;" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><span class="text-danger">*</span></td>
                <td>Email</td>
                <td> : </td>
                <td>
                    <input type="text" asp-for="Email" style="width:300px;" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td><span class="text-danger">*</span></td>
                <td>Slit Code</td>
                <td> : </td>
                <td>
                    <input type="text" asp-for="SlitCode" style="width:200px;" />
                    <span asp-validation-for="SlitCode" class="text-danger"></span>
                </td>
            </tr>
        </table>
        <partial name="_Controller" />
    </form>
}

@if (Model.Action == BasePageModel.EnumAction.View || Model.Action == BasePageModel.EnumAction.Delete)
{
    <partial name="_Controller" />
}

@if (!string.IsNullOrEmpty(Model.StartupScript))
{
    <script>@Html.Raw(Model.StartupScript)</script>
}
