@page
@model PFRLabelIssuing.Pages.MasterMaint.MM_USERModel
@{
    ViewData["PageTitle"] = Model.PageTitle;
}
<partial name="_Title" />
<partial name="_Search" />
@{
    ViewData["ShowAdd"] = Model.AddControl;
    ViewData["AddUrl"] = Model.GetUrl(BasePageModel.EnumAction.Add);
    ViewData["ShowPrint"] = Model.PrintControl;
}
<partial name="_GridHeader" />
<table width="100%">
<tr><td>
    <table width="100%" class="table">
        <thead class="title_bar">
            <tr>
                <th style="width:8%; text-align:left; vertical-align:middle;">UserID</th>
                <th style="width:18%; text-align:left; vertical-align:middle;">Name</th>
                <th style="width:15%; text-align:left; vertical-align:middle;">Department</th>
                <th style="width:15%; text-align:left; vertical-align:middle;">Email Address</th>
                <th style="width:15%; text-align:left; vertical-align:middle;">Level</th>
                <th style="width:9%; text-align:left; vertical-align:middle;">Company Code</th>
                <th style="width:7%; text-align:center; vertical-align:middle;">Record Type</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.GridData != null && Model.GridData.Rows.Count > 0)
        {
            @foreach (DataRow row in Model.GridData.Rows)
            {
                <tr onmouseover="Highlight(this)" onmouseout="UnHighlight(this)">
                    <td style="text-align:left; vertical-align:middle;">
                        <a href="@Model.GetUrl(BasePageModel.EnumAction.Edit, row["ID_MM_USERID"].ToString())">@row["USERID"]</a>
                    </td>
                    <td style="text-align:left; vertical-align:middle;">@row["NAME"]</td>
                    <td style="text-align:left; vertical-align:middle;">@row["DEPARTMENT"]</td>
                    <td style="text-align:left; vertical-align:middle;">@row["EMAIL"]</td>
                    <td style="text-align:left; vertical-align:middle;">@row["ULEVEL"]</td>
                    <td style="text-align:left; vertical-align:middle;">@row["COMPANYCODE"]</td>
                    <td style="text-align:center; vertical-align:middle;">@row["RECTYPE"]</td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="7" class="text-center text-danger fw-bold">Record Not Found</td></tr>
        }
        </tbody>
    </table>
</td></tr>
</table>
@{
    ViewData["TotalRecords"] = Model.TotalRecords;
    ViewData["TotalPages"] = Model.TotalPages;
    ViewData["CurrentPage"] = Model.PageNo;
    ViewData["BaseListUrl"] = Model.GenerateList;
}
<partial name="_GridFooter" />
